{% extends "base.html" %}
{% load static %}
{% load account %}

{% block title %}Вход{% endblock %}

{% block content %}
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">

            </div>
        </div>
    </div>
</section>
<br><br>

            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">

                                    <div class="mb-md-5 mt-md-4 pb-5">

                                        <form class="login" method="POST" action="{% url 'account_login' %}">
                                            {% csrf_token %}
                                            <h2 class="fw-bold mb-2 text-uppercase text-white-50">Login</h2>
                                            <p class="text-white-50 mb-5">Пожалуйста, введите Ваш логин и пароль!</p>

                                            <div class="form-outline form-white mb-4">
                                                {{ form.login }}
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                {{ form.password }}
                                            </div>

                                            <p class="small mb-5 pb-lg-2"><a class="text-white-50"
                                                                             href="{% url 'account_reset_password' %}">Забыли
                                                пароль?</a></p>

                                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Вход
                                            </button>

                                        </form>

                                    </div>

                                    <div>
                                        <p class="mb-0">Если вы еще не создали учетную запись, то сначала <a
                                                href="{{ signup_url }}">зарегистрируйтесь.</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


{% endblock %}
