{% extends 'base.html' %}
{% load static %}
{% load account %}
{% block title %}Регистрация{% endblock %}

{% block content %}

<br><br>
<br><br>
<br><br>
<br><br>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <form class="login" method="POST" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                <h2 class="fw-bold mb-2 text-uppercase text-white-50">Регистрация</h2>
                                <p class="text-white-50 mb-5">Пожалуйста, введите Ваш логин и пароль!</p>
                                <label for="first_name">Имя</label>
                                <div class="form-outline form-white mb-4" id="first_name">
                                    {{ form.first_name }}
                                </div>
                                <label for="username">Логин</label>
                                <div class="form-outline form-white mb-4" id="username">
                                    {{ form.username }}
                                </div>
                                <label for="username">Email</label>
                                <div class="form-outline form-white mb-4" id="email">
                                    {{ form.email }}
                                </div>
                                <label for="username">Пароль</label>
                                <div class="form-outline form-white mb-4" id="password">
                                    {{ form.password }}
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50"
                                                                 href="{% url 'account_reset_password' %}">Забыли
                                    пароль?</a></p>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Регистрация &raquo;
                                </button>

                            </form>

                        </div>

                        <div>
                            <p class="mb-0">У вас уже есть аккаунт? Тогда, пожалуйста, <a
                                    href="{{ login_url }}">войдите</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}