{% load static %}
<footer class="footer-area">
    <div class="footer-widget-wrap">
        <div class="container">
            <div class="row section-gap">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Полезные ссылки</h4>
                        <p>
                            О нас
                        </p>
                        <p>
                            Связаться с нами
                        </p>
                        <p>
                            Блог
                        </p>

                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Контакты</h4>
                        <p>
                            Алматы, Аль-Фараби 71
                        </p>
                        <p class="number">
                            +7 727 123 45 67 <br>
                            +7 747 123 45 67
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Мы в социальных сетях</h4>
                        <p>Facebook</p>
                        <p>Twitter</p>
                        <p>Instagram</p>
                        <!--                        <div class="d-flex flex-row" id="mc_embed_signup">-->


                        <!--                            <form class="navbar-form"-->
                        <!--                                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"-->
                        <!--                                  method="get">-->
                        <!--                                <div class="input-group add-on align-items-center d-flex">-->
                        <!--                                    <input class="form-control" name="EMAIL" placeholder="Your Email address"-->
                        <!--                                           onfocus="this.placeholder = ''"-->
                        <!--                                           onblur="this.placeholder = 'Your Email address'" required="" type="email">-->
                        <!--                                    <div style="position: absolute; left: -5000px;">-->
                        <!--                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""-->
                        <!--                                               type="text">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="input-group-btn">-->
                        <!--                                        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="info mt-20"></div>-->
                        <!--                            </form>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-wrap">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://github.com/nurtileuabdikhalyk" target="_blank">Nurtileu Abdikhalyk</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

            </div>
        </div>
    </div>
</footer>